.top{
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  color: white;

  .user{
    cursor: pointer;

    i{
      color: white;
    }
  }
}
img{
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.github
{
  width: 60px;
  height: 60px;
}
.secondary{
  height: 80px;
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: white;
  h1{
    margin-right: 10px;
  }
}
