<div class="top">
  <h3>dashbang</h3>
  <div class="d-flex" style="align-items: center;">
    <a href="https://github.com/xEyad/widgets-demo" target="_blank">
      <img src="assets/github.png" alt="" class="rounded-circle mr-2 github" >
    </a>
    <div class="user">
      <img src="assets/profile.webp" alt="" class="rounded-circle">
      <span>Dawny jhonson</span>
      <i class="ml-2 fa fa-caret-down"></i>
    </div>
  </div>

  </div>
<div class="secondary border-bottom">
  <h1>Dawny's Analytics Dashboard</h1>
  <i class="fa fa-pencil fa-2x"></i>
</div>
