.slot{
  border: 2px dashed #edf1f7;
  background-color: white;
  counter-reset: #edf1f7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.slot-disabled{
  background-color: #dfdfdf;
}
.filled-slot{
  width: 100%;
  height: 100%;
  display: grid;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.dndDraggingZone{
  border: 2px solid #1c64d0;
  background-color: cadetblue;
}

.dndDragOverBlocked{
  border: 2px solid red;
  background-color: #736e6e;
}
