<div
  [ngClass]="{ 'filled-slot': haveChild, 'slot': !haveChild }"
  dndDropzone
  [dndEffectAllowed]="'all'"
  [dndDragoverClass]="'dndDraggingZone'"
  [dndDropzoneDisabledClass]="'slot-disabled'"
  [dndDisableIf]="slotDisabled"
  (dndDragover)="onDragover($event)"
  (dndDrop)="onDrop($event)"
>
  <ng-container *ngIf="!haveChild">
    <i class="fa fa-plus-circle fa-3x" *ngIf="!slotDisabled"></i>
    <i class="fa fa-times-circle fa-3x" *ngIf="slotDisabled"></i>
  </ng-container>

  <ng-container widget-slot></ng-container>
</div>
