<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <app-header></app-header>
    </div>
  </div>

  <div class="row slots-wrapper">
    <div class="col-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10 py-0 pb-5 pr-5 h-100">
      <!-- SLOTS -->
      <ng-container *ngTemplateOutlet="slots"></ng-container>
    </div>
  </div>
</div>


<ng-template #slots>
  <div class="row">
    <div class="col-12">
      <p>Drag a widget into an open dashboard slot</p>
    </div>
  </div>

  <div class="row h-100 slots">

      <app-slot class="g-big"></app-slot>
      <app-slot class="g-big"></app-slot>

      <app-slot [slotDisabled]='true' class="g-small"></app-slot>
      <app-slot [slotDisabled]='true' class="g-small"></app-slot>
      <app-slot [slotDisabled]='true' class="g-small"></app-slot>

      <app-slot [slotDisabled]='true' class="g-medium"></app-slot>
      <app-slot [slotDisabled]='true' class="g-medium"></app-slot>
      <app-slot [slotDisabled]='true' class="g-medium"></app-slot>

      <app-slot [slotDisabled]='true' class="g-small"></app-slot>
      <app-slot [slotDisabled]='true' class="g-small"></app-slot>
      <app-slot [slotDisabled]='true' class="g-small"></app-slot>

    <!-- <div class="col-2 s-3">
      <app-slot [slotDisabled]='true'></app-slot>
    </div>
    <div class="col-2 s-3">
      <app-slot [slotDisabled]='true'></app-slot>
    </div>
    <div class="col-2 s-3">
      <app-slot [slotDisabled]='true'></app-slot>
    </div>

    <div class="col-3 s-6">
      <app-slot [slotDisabled]='true'></app-slot>
    </div>
    <div class="col-3 s-6">
      <app-slot [slotDisabled]='true'></app-slot>
    </div>

    <div class="col-2 s-3">
      <app-slot [slotDisabled]='true'></app-slot>
    </div>
    <div class="col-2 s-3">
      <app-slot [slotDisabled]='true'></app-slot>
    </div>
    <div class="col-2 s-3">
      <app-slot [slotDisabled]='true'></app-slot>
    </div> -->
  </div>
</ng-template>
